---
// Debjani Hazarika Component - Artistic Portfolio Display
---

<section class="shantell-martin-intro">
	<div class="bg-wrapper">
		<div class="svg-wrapper">
			<svg class="bg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1445 2170" style="enable-background:new 0 0 1445 2170;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:none;stroke:#000000;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st1{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
				</style>
				<g>
					<path class="st0" d="M549.8,284.8c10.6,30.1,36,52.5,54.2,77.9c19.2,26.7,35,55.7,47.1,86.3c7,17.6,12.7,35.6,17.2,54"></path>
					<path class="st0" d="M1513.2,22.7c-27.7-1.9-55.6-0.2-83.2,2.5c-27.9,2.7-55.6,6.6-83.5,9c-27,2.4-54.2,3.4-81.2,0.4
						c-24.5-2.8-48.5-9.1-70.5-20.3c0.5,19.7-5.2,39.3-15.3,56.3C1170,88,1155,101,1138,112c-5,3-10,4-15,6c-52,21-117-10-136.4-62.2
						c-5.9,8.9,0.9,2.3,0,0c-5.9,8.9-12,17.7-18.3,26.3"></path>
					<path class="st0" d="M1508.1,518c-18.3,18.1-46.5,18.3-70.4,19.6c-14,0.8-28.3,2.1-41.2,7.8c-11.5,5.1-20.7,13.7-28.4,23.5
						c-14.3,18.3-24.3,41.8-45,54.1c-15.7,9.3-41,14.6-53.6-2.5c-0.8-1.1-1.1-2.2-2.2-2.1c-1.6,0.1-4.4,2.4-5.8,3.2c-3.6,2-7.1,4-10.7,6
						c-7.3,4.1-14.6,8.2-22,12.3c-13.5,7.6-27,15.3-40.8,22.4c-25.4,13.1-52.8,24.6-81.7,26.2c-24.7,1.4-50.8-4.3-70.3-20.1
						c-17.4-14.1-27-36.1-25.4-58.5c1.4-20.1,13.1-40.6,33.6-45.8c17.4-4.5,38.1,1.7,49.9,15.4c12.3,14.1,10.9,34.9-1.7,48.4
						c-13.3,14.1-34.7,18.8-53.4,19.1c-10.2,0.1-20.5-1.1-30.4-3.9c-10.9-3.1-22.6-7.9-29.9-17.1c-16-20.4,2.8-41.9,20.8-52
						c11.3-6.4,23.6-9.7,36.2-12.8c15-3.6,30.2-6.6,45.4-9.8c28.7-6,57.7-12.6,84.1-25.6c22-10.8,42.5-26,56.9-46.1
						c7-9.8,12.5-20.7,15.6-32.4c2.4-8.9,1.5-21.7-6.7-27.7c-8.1-5.9-16.6,4.8-18.3,12c-2.1,9.3,1.4,19.8,8.2,26.4
						c19.1,18.6,52.9,5.6,73-4.2c23.2-11.3,43.8-27.8,59.8-47.9c16.5-20.7,30.9-47.4,28.5-74.6c-2-22.5-18.6-42.4-41.9-44.4
						c-19.6-1.7-35.7,14-32.4,33.7c3,18.1,18.1,34.6,35.6,39.7c21.6,6.3,43.9-7.2,58-22.7c16.8-18.5,26.1-41.7,33.7-65.1
						c8.2-24.9,15.5-51.1,31.4-72.4"></path>
					<path class="st0" d="M1472.3,796"></path>
					<path class="st0" d="M1454.1,1074c-22.6-16.6-51.7-21.5-78.6-26.3c-37.2-6.6-74.4-13.2-111.6-19.8c-37.2-6.6-74.4-13.2-111.6-19.8
						c-37-6.6-73.9-13.1-110.9-19.7c-35.8-6.4-71.6-12.7-107.4-19.1c5.7-23,18.9-43.8,36.3-59.7c17.4-16,39.1-27.5,62.4-32.1
						c22-4.4,48.8-3.7,67.2,10.8c8.4,6.6,14.6,16.6,13.1,27.6c-1.3,9.6-7.6,19.3-16.6,23.3c-21.7,9.6-30-23-28.9-38.4
						c1.5-20.6,12.9-40.6,29-53.4c21-16.7,50.1-20.1,76.1-19c30.4,1.2,60.5,7.7,90.4,12.7c32.6,5.5,65.3,10.9,97.9,16.4
						c29.9,5,59.8,10.9,89.9,13.9"></path>
					<path class="st0" d="M1467.4,1494.8c-18.6-23.1-29.9-52.9-36.6-81.5c-7.1-30.5-8.7-62.3-4.5-93.3c4.2-31.2,15-59.7,28.4-88"></path>
					<path class="st0" d="M1325.9,2174.3c-1.8-26.7-10.1-52.5-14.1-78.9c-3.6-23-3.8-45.9,7.8-66.7c9.1-16.4,24.1-31.6,42.7-36.6
						c8.4-2.2,17.3-2,25.3,1.4c2.1,0.9,4.2,2,6.1,3.3c2.3,1.5,2.1,3.1,2.1,5.7c0,4-0.7,8.1-2.1,11.9c-5.8,15.8-21.8,25.8-37.6,29.6
						c-18.7,4.5-36.8,0.3-52-11.2c-17.6-13.2-29.2-32.8-37.9-52.6c-9.2-20.8-15.3-42.8-23.9-63.8c-8.5-20.6-19.7-41-37.3-55.2
						c-20.3-16.4-46.5-21.9-71.2-28.2c-28.8-7.3-57.6-14.7-86.4-22c-28.7-7.3-57.4-14.6-86.1-21.9c-28.8-7.3-57.6-14.7-86.4-22
						c-28.7-7.3-57.4-14.6-86.1-21.9c-28.8-7.3-57.6-14.7-86.4-22c-27.7-7.1-55.4-14.1-83-21.2c17.6-20.6,48-20.4,72.7-18.2
						C761,1690,830,1703,899,1703c7-1,14-1,21-2c11-2,21-5,31-8c8-3,15-6,22-11c6-5,12-10,18-15c8-8,14-18,19-28c10-22,8-46-8-65
						c-5-6-10-11-17-14c-5-2-10-6-16-7c-7-1-13-2-20-1c-5,1-9,2-13,4c-12,6-20,18-22,31c-2,18,4,36,16,50c6,7,13,13,21,18
						c17,9,35,11,53,9c14-2,27-6,40-10c13-5,25-10,38-16c40-20,78-38,118-58c12-6,23-11,34-19c7-6,13-12,17-20c2-3,2-7,3-10c0-2,1-5,0-7
						c-2-3-4-6-6-9c-64,24-140,10-192-34c20-25,63-30,86-7c-9,37-53.2,45.2-87,37c-173.1-53.3-271.8-147.8-315.3-191
						c25-3.8,11.3,11.4,0,0c25-3.8,150.6,18.7,173.3,7c19.5-10.1,36.6-26.2,40.4-48.6c3-17.6-1.1-38.2-13.7-51.4
						c-13.3-14-34.8-14.8-48.9-1.6c-14.5,13.5-19.8,38.2-6.9,54.5c12.7,16,37.4,19,55,10c19.7-10,25.6-33.7,18.7-53.6
						c-3.4-9.9-9.8-18.9-18.6-24.7c-11.7-7.7-26.3-8.8-39.9-8.7c-14.3,0.2-28.9,1.8-43.1-0.9c-11.7-2.2-22.8-7.2-32.4-14.1
						c-19.4-13.9-33.3-35.8-36.7-59.5c-0.8-5.8-1-11.6-0.5-17.4c28.9,16.9,56.2,38.6,89.5,46.4c28.7,6.7,61.9,1.8,79.1-24.5
						c12.8-19.5,13.2-49.2-10-61c-17.9-9.1-44.1-4.7-49.8,16.9c-6.3,23.5,17.6,40.1,36.1,48.3c11.5,5.1,23.7,8.5,36.1,10.2
						c18.7,2.7,37.4,5.3,56,8c37.4,5.3,74.7,10.6,112.1,15.9c18,2.6,36,5.5,54,7.4c16.5,1.8,33.6,2.3,49.7-2.4
						c26.7-7.8,45.9-29.9,70.3-42.2c10.6-5.3,22.4-8.5,34.1-5c13.7,4,22.6,15.3,29.1,27.3c7.1,13,12.9,26.9,18.2,40.8
						c5.4,14.2,9.9,28.8,12.2,43.9c2.1,14.1,2.2,28.6-1.8,42.4c-4,14-12.2,25.9-22.9,35.6c-21.3,19.2-49.7,31.5-59.7,60.4
						c-8.9,25.6-1.2,56.4,25.2,67.7c21.4,9.1,49.6,2.1,55.5-22.7c2.4-10.1,0.9-21.4-4.6-30.3c-6.7-10.9-18.5-15.4-31-14
						c-15.1,1.8-29.3,10.5-41,19.8c-11.1,8.7-20.7,19.3-28.5,31c-15.9,24-22.8,51.2-22.5,79.7c0.2,25,4.7,54.2-8,77
						c-6.5,11.7-17.1,18-28.8,23.6c-11.4,5.5-23.7,11.9-26.7,25.4c-2.8,12.8,5.2,24.9,13.7,33.6c5.1,5.2,10.8,9.7,16.8,13.7
						c3,2,6.1,3.9,9.2,5.6c0.6,0.4,1.7,0.7,2.2,1.2c0.9,0.9,0.6,0.2,0.4,1.6c-0.2,1.5-1.7,3.3-2.5,4.5c-7.3,11.4-19.8,18.1-29.2,27.6
						c-8.1,8.1-13.1,18.4-13.8,29.9c-1.2,22.5,12.4,44.6,30.5,57c21.9,15,49.9,13,72.9,1.4c25.6-12.9,45.2-36,57.2-61.7
						c14.3-30.6,19.9-64.3,25.9-97.3c5.5-30.1,11.8-60.4,25.3-88.1c12-24.6,30.3-47.5,56-58.6"></path>
					<path class="st0" d="M1021.6,2189c3.2-20.3-20.4-30.7-37-30.9c-24.2-0.3-43.7,15.3-63.2,27.6" transform=""></path>
					<path class="st0" d="M623.7,2171.5c4.2-8.9,9.2-17.4,17.2-23.4c6.7-5.1,14.8-8.1,23.1-9.6c18.4-3.3,37.4-0.1,55.6,2.3
						c17.2,2.3,33.3,3,50-2.7c13.5-4.6,28.3-13.1,33.7-27.1c2.4-6.3,2.4-13.2,0.2-19.6c22.5,11.5,43.7,27.6,68.9,32.8
						c21.1,4.3,43.9-3.3,56.1-21.8c6-9.1,7.8-20.3,2.9-30.3c17.2,8.2,37.7,6.3,54.4-2.2c17.2-8.8,30.5-24.5,33.7-43.8
						c2.2-13.2,0.8-27,5.5-39.8c3.2-8.7,9.2-16.3,16.6-21.8c14.8-11.2,35.8-15.2,53-7.4c17.2,7.7,27.3,26.1,28.4,44.4
						c0.5,9.2-1.2,18.6-5.4,26.8c-5.2,9.9-14,17.1-23.4,22.9c-10.3,6.3-21.2,11.4-31.2,18c-9.7,6.4-18.9,13.7-27.3,21.7
						c-16.8,16-30.8,35-41,55.8c-5,10.2-9.6,21-12.2,32"></path>
					<path class="st0" d="M-29.1,437c16.7-14.9,38.9-22.8,60.7-26.4c28.5-4.7,57.5-2.9,86.1-5.7c23.2-2.3,46.5-8.3,65.9-21.7
						c8.9-6.2,16.7-13.9,22.3-23.1c6.3-10.2,9-21.8,11.2-33.5c4-21.6,8.1-44.4,28.3-56.8c16.4-10,36.9-9.9,55.2-6.9
						c20.6,3.4,40.1,10.9,59.2,19c18,7.7,28.6,13.9,48.2,15.5c10.8,0.9,24.2-1.8,35.3-16c10.4-13.5,9.2-74.5-5.3-95.1
						c-6.8-9.6-21.5-16.2-51.5-8.7"></path>
					<path class="st0" d="M-50.1,1273.4c20.9-6.5,41.4-14.4,60.4-25.4c18.6-10.8,35.4-24.7,48.5-41.8c13.3-17.5,23.3-39.8,43.9-50
						c11.5-5.7,24.6-6.7,37.2-6.2c12.4,0.5,24.9,2.1,37,4.7c23.1,4.8,46.7,14.3,62.5,32.4c13.9,15.9,22.3,38.4,17.3,59.4
						c-5.6,23.5-28.2,40.5-48.5,51.3c-20.9,11.1-46.8,16-67.7,2.1c-16.2-10.7-26.1-31.5-16.3-49.9c7.5-14.1,24.1-19.9,39.1-20.9
						c17.3-1.2,35.2,3.2,49.7,12.8c18.8,12.4,34.4,28.9,52.6,42.2c17.5,12.8,37.8,21.9,60,19.5c21.1-2.2,41.3-13.6,53.5-31
						c14.1-20.2,15.9-45.8,21.7-69c2.7-10.7,6.1-21.6,12.7-30.6c5.6-7.6,13-14,21.4-18.4c13.4-7.1,39.6-10.3,44.3,9.1
						c4.5,18.6-4.5,38.6-19.2,50.2c-15.2,12.1-35.7,13.2-51.7,1.9c-14.9-10.5-24.5-29.6-22.1-47.9c2.2-17.1,14.9-30,29-38.6
						c14.8-9,31.4-14.6,47.2-21.8c14.8-6.8,29.9-15.3,38.9-29.4c10.9-17.1,9.2-37.9-0.2-55.3c-10.3-19.1-28.1-33-48.6-39.7
						c-25.4-8.3-52.7-7.4-79.1-6c-24.3,1.3-48.8,3.1-73-0.9c-23.4-3.8-45.3-13.4-61.1-31.5c-15-17.2-26.2-39.4-32.2-61.4
						c-5.3-19.4-7-41.9,2.9-60.2c10.7-19.7,32-28.1,53.4-28.6c25.3-0.7,49,8.4,73.3,14.1c24.1,5.8,50.7,8.1,71.7-7.4
						c14.7-10.9,26-30.1,18.5-48.5c17.7,1.7,35.3,3.4,53,5.1c-1.8-10.3,2.2-21,9.3-28.3c8.9-9.2,19.9-10.5,32.1-9.4
						c11.3,1,21.6,0.7,31.3-5.9c7.9-5.5,13.8-13.6,17.3-22.5c8-20.2,2.4-41.5-11.3-57.8c-13.4-15.9-34-28.4-54.7-31.8
						c-16-2.6-38.2-0.8-47.1,15c-8.5,15.1,0.3,30.4,14.7,37.1c15.4,7.2,35.1,7.7,51,1.7c22.8-8.6,43.5-24.9,68.6-26.7
						c23.3-1.7,38.1,14.8,54.3,28.8c6.5,5.6,13.9,11.7,22.5,13.1c8.6,1.4,17.4-2.9,21.8-10.4c10-17.4-1-39.5-13.1-52.7
						c-13.5-14.8-32-23.9-51.2-28.5c-20.2-4.8-41.5-5-62-1.5c-25.3,4.3-49.5,14.2-72.8,24.6c-24.7,10.9-48.9,22.9-74.6,31.5
						c-21.1,7.1-43.2,11.2-65.5,10.7c-21.1-0.5-42.5-5.1-60.6-16.2c-4.3-2.7-8.5-5.7-12.3-9.1c-2.8-2.4-9.7-7.5-9.2-11.3
						c1-7.1,9.9-9.6,15.8-9.1c6.9,0.5,14.3,4.1,17.2,10.7c4,9.4-1.5,20-8.7,26c-21.2,17.7-48.4,3-68.5-8.6c-19.9-11.4-42.5-24.9-50.2-48
						c-5.9-17.5-2.1-43.9,19.1-48.6c7.9-1.8,16.7-0.2,23.4,4.2c5.7,3.7,13.1,13.1,8,19.8c-12,15.8-33.2,18-51.5,14.7
						c-22.6-4-40.8-16.5-60-28.3c-20.6-12.7-43.6-24.6-68.5-19.8c-22.2,4.3-45.4,20.5-68.3,10.3"></path>
					<path class="st0" d="M-20.1,1466.5c17.4-9.3,36.5-15.7,56.1-18.2c11.4-1.4,24-1.5,34.2,4.5c8.9,5.2,14,14.4,15.7,24.4
						c3.5,21.1-6.1,42.8-19,59c-13.5,17-32.5,29.8-53.5,35.5c-21.2,5.8-43.6,4.1-64.4-2.4"></path>
					<path class="st0" d="M129.8,2188.5c26.4-16.6,51.4-35.2,76.9-53.1c25-17.6,50.6-34.7,78.2-48.1c26.9-13,55.5-22,85.4-24.3
						c27.7-2.1,55.8-0.1,83.3-4.7c24.6-4.1,50-15.4,60.9-39.4c9.7-21.3,5.4-47.7-8.1-66.4c-15-20.6-41.8-29.4-65.8-19.9
						c-11.6,4.6-21.9,13.9-25.1,26.3c-2.9,11.1-0.4,23.7,6.4,33c7.1,9.8,18.7,14.6,30.7,12.1c12.5-2.6,21.9-12.5,28.8-22.7
						c7.6-11.4,12.9-24.3,16.7-37.4c3.8-13.1,6.6-27.5,3.8-41.1c-3.1-15.1-13.4-23.1-26.7-29.6c-12.4-6.1-22.5-13.8-26.2-27.6
						c-6.7-24.9,6.9-52.9,24.5-70c11.1-10.8,24.9-19.9,40.6-21.9c13.4-1.7,27.7,3,36.7,13.3c7.5,8.4,10.4,20.9,5.1,31.2
						c-4.3,8.4-13,13.6-21.8,16.2c-9.7,2.8-20.5,2.7-30.1-0.8c-11.4-4.2-19.2-13.5-23.9-24.5c-5.7-13.2-6.3-28.1-4.5-42.2
						c2.1-15.7,7.8-29.9,13.2-44.7c2.9-7.9,5.5-16.4,5-24.9s-4.4-15.6-10-21.8c-10.8-12.3-22.4-23.4-31.7-36.9"></path>
				</g>
			</svg>
		</div>
        <div class="mobile-image-wrapper"></div>
		<div class="menu-link">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 484.6 228.6" style="enable-background:new 0 0 484.6 228.6;" xml:space="preserve">
				<path d="M65.7,71.2v13c0,20.5-14.2,31.1-32.3,31.1H32c-18.1,0-32-10.5-32-29.7V74.8h31.1v13.4c0,2,0.5,2.9,1.4,2.9h0.3c0.9,0,1.4-0.9,1.4-2.9V76.5c0-3.6-0.9-4.5-4.5-5.6l-10.5-3.1c-13.6-4.2-19-14.4-19-27.2V29.2C0.2,10.5,13.7,0,32,0h1.4C51.4,0,65,10.5,65,29.2V38H34.1V27c0-2-0.5-2.9-1.4-2.9h-0.3c-0.9,0-1.4,0.9-1.4,2.9v8.2c0,3.7,0.9,4.6,4.6,5.7L46.2,44C60.6,48.2,65.7,59.5,65.7,71.2z"></path>
				<path d="M99,66.9v47H67.9V1.4H99v40.5h3.1V1.4h31.1v112.5h-31.1v-47H99z"></path>
				<path d="M147.8,1.4h43.9l13.7,112.5h-32.4l-0.6-10.8h-6.5l-0.5,10.8h-30.6L147.8,1.4z M166.9,78.2h3.9l-2.2-39.5L166.9,78.2z"></path>
				<path d="M236.1,113.9h-29V1.4h31.4l6.8,43.1V1.4h29v112.5h-30.7l-7.4-44.6V113.9z"></path>
				<path d="M320.2,113.9h-31.1V26.4h-12.7v-25h56.4v25h-12.7V113.9z"></path>
				<path d="M335.2,1.4h51.4v23.8h-20.4v17.3h18.9v23.8h-18.9v23.8h20.4v23.8h-51.4V1.4z"></path>
				<path d="M420,1.4v87.4h15.6v25H389V1.4H420z"></path>
				<path d="M468.9,1.4v87.4h15.6v25h-46.7V1.4H468.9z"></path>
				<path d="M27.2,228.6H0V116.1h40.3l2.8,38.9l3.1-38.9h39.9v112.5H58.7v-53.5l-4.6,53.5H31.7l-4.5-53.5V228.6z"></path>
				<path d="M100.7,116.1h43.9l13.8,112.5h-32.4l-0.6-10.8h-6.5l-0.5,10.8H87.7L100.7,116.1z M119.8,192.9h3.9l-2.2-39.6L119.8,192.9z"></path>
				<path d="M160,228.6V116.1h38c18.1,0,27.3,10.2,27.3,26.3v6.6c0,11.6-2.6,18.5-11.4,21.5c8.7,2.5,11.3,9.1,11.3,20.1v38h-31.1v-41.2c0-1.9-0.5-2.8-1.4-2.8H191v44H160z M194.1,158.9v-17.5c0-2-0.5-2.9-1.5-2.9H191v23.8h1.7C193.6,162.3,194.1,161.2,194.1,158.9z"></path>
				<path d="M271.2,228.6h-31.1v-87.4h-12.7v-25h56.4v25h-12.7V228.6z"></path>
				<path d="M317.2,116.1v112.5h-31.1V116.1H317.2z"></path>
				<path d="M348.5,228.6h-29V116.1h31.4l6.8,43.1v-43.1h29v112.5h-30.7l-7.4-44.6V228.6z"></path>
				<circle cx="406.1" cy="215.7" r="12.9"></circle>
			</svg>
			<div class="l-1"></div>
			<div class="l-2"></div>
			<div class="l-3"></div>
			<div class="l-4"></div>
		</div>
		
		<div class="text-content">
			<h1>Debjani Hazarika</h1>
			<p>Autobiographical and dreamlike, Debjani Hazarika bridges the fine art and commercial world, as well as the objects, places and conversations of the everyday experience.</p>
		</div>
    </div>
</section>

<style>
	.shantell-martin-intro {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		background: white;
	}

	.bg-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.svg-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.svg-wrapper svg {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.mobile-image-wrapper {
		display: none;
	}

	.menu-link {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		cursor: pointer;
		transition: transform 0.3s ease;
	}

	.menu-link:hover {
		transform: translate(-50%, -50%) scale(1.1);
	}

	.menu-link svg {
		width: 200px;
		height: auto;
		fill: black;
	}

	.menu-link .l-1,
	.menu-link .l-2,
	.menu-link .l-3,
	.menu-link .l-4 {
		position: absolute;
		background: black;
		width: 20px;
		height: 2px;
		right: -30px;
		transition: all 0.3s ease;
	}

	.menu-link .l-1 { top: 20px; }
	.menu-link .l-2 { top: 30px; }
	.menu-link .l-3 { top: 40px; }
	.menu-link .l-4 { top: 50px; }

	.text-content {
		position: absolute;
		bottom: 50px;
		left: 50px;
		z-index: 2;
		max-width: 500px;
		color: black;
	}

	.text-content h1 {
		font-size: 3rem;
		font-weight: bold;
		margin: 0 0 1rem 0;
		line-height: 1.2;
	}

	.text-content p {
		font-size: 1.2rem;
		line-height: 1.6;
		margin: 0;
		opacity: 0.8;
	}

	@media (max-width: 768px) {
		.mobile-image-wrapper {
			display: block;
		}

		.svg-wrapper {
			display: none;
		}

		.menu-link svg {
			width: 150px;
		}

		.text-content {
			bottom: 30px;
			left: 30px;
			right: 30px;
			max-width: none;
		}

		.text-content h1 {
			font-size: 2rem;
		}

		.text-content p {
			font-size: 1rem;
		}
	}
</style>
